<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  
    <property name="connection.url">jdbc:mysql://localhost:3306/poi</property>
    <property name="connection.username">root</property>
    <property name="connection.password">root2016</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
  
    <property name="show_sql">true</property>
  
    <property name="format_sql">true</property>
    <property name="hbm2ddl.auto">create</property>
  
    <!-- JDBC connection pool (use the built-in) -->
    <property name="connection.pool_size">1</property>
    <property name="current_session_context_class">thread</property>
 
    <mapping class="ar.edu.utn.dds.poi.domain.User" />
    <mapping class="ar.edu.utn.dds.poi.domain.Action" /> 
	<mapping class="ar.edu.utn.dds.poi.domain.Action" /> 
	<mapping class="ar.edu.utn.dds.poi.domain.POI" /> 
	<mapping class="ar.edu.utn.dds.poi.domain.Address" /> 
	<mapping class="ar.edu.utn.dds.poi.domain.Coordenate" /> 
	<mapping class="ar.edu.utn.dds.poi.domain.OpeningHour" />
	<mapping class="ar.edu.utn.dds.poi.domain.Bank" /> 
	<mapping class="ar.edu.utn.dds.poi.domain.BusStop" />
	<mapping class="ar.edu.utn.dds.poi.domain.Log" />
	<mapping class="ar.edu.utn.dds.poi.domain.LogResult" />
	<!--<mapping class="ar.edu.utn.dds.poi.domain.HistoricalSearch" />
	<mapping class="ar.edu.utn.dds.poi.domain.HistoricalSearchResult" />-->
	<!--<mapping class="ar.edu.utn.dds.poi.domain.CGP" /> -->
	<!--<mapping class="ar.edu.utn.dds.poi.domain.Shop" /> -->
</session-factory>
</hibernate-configuration>